.carousel {
	padding: 108px 0 55px 0;

	.prev-btn, .next-btn {
		border: none;
		outline: none;
		background-color: transparent;
		position: absolute;
		top: 50%;
		transform: translateY(-38px) translateY(-50%);

		img {
			width: 37px;
		}
	}

	.prev-btn {
		left: -12px;
	}

	.next-btn {
		right: -12px;
	}

	.tns-nav {
		display: flex;
		width: 150px;
		margin: 0 auto;
		justify-content: space-between;

		.tns-nav-active {
			&::before {
				opacity: .75;
				color: black;
			}
		}

		button {
			position: relative;
			font-size: 0;
			line-height: 0;
			width: 30px;
			height: 30px;
			padding: 5px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: none;
			background: transparent;

			&::before {
				font-size: 60px;
				line-height: 26px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				width: 30px;
				height: 30px;
				content: '•';
				text-align: center;
				opacity: .25;
				color: black;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}

	&__inner {
		position: relative;
		width: 750px;
		margin: 0 auto;

		img {
			display: block;
			margin: 0 auto;
			outline: none;
			border: none;
		}
	}
}